.custom_style {
    background: #4D47C3;
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.css-yw020d-MuiAccordionSummary-expandIconWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: rgba(0, 0, 0, 0.54);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    margin-right: 20px !important;
    margin-top: 10px !important;
}


.logo {
    width: 50px;
    height: 50px;
    border-radius: 41%;
    margin-top: 20px;
}

.box_style {
    border: 1px solid;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    background-color: #4D47C3;
    color: white;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
}

.box_style_main {
    padding: 10px;
    border: 1px solid;
    padding: -6px;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    background: white;
    justify-content: space-between;
    color: black;
    border-radius: 7px;
    background-color:  #4D47C3 !important;
    color: white !important;
    margin-bottom: 10px;
}

/* .box_style_main {
    border: 1px solid;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    background: white;
    color: black;
    border-radius: 7px;
    margin-top: 15px;
} */
.css-ahj2mt-MuiTypography-root {
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-top: 15px !important;
}

.css-ahj2mt-MuiTypography-root {
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.css-mhc70k-MuiGrid-root {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: -16px;
    /* width: calc(100% + 16px); */
    margin-left: -25px !important;
    margin-bottom: 36px !important;
    /* border-bottom: 3px solid midnightblue; */
}

.line {
    border-bottom: 5px solid #4D47C3;
    width: 90%;
    margin-top: 5px;
}

@media only screen and (max-width: 600px) {
  
    .css-mhc70k-MuiGrid-root {
     
        flex-direction: column-reverse !important;
        /* justify-content: space-around; */
        align-items: center !important;
        /* border-bottom: 3px solid midnightblue; */
    }
    
  }